<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
<header>
    <a href="#" class="logo"><span>Future</span>Wonders</a>
    <nav class="bar">
        <a href="home" class="indam">Trang chủ</a>
        <a href="booking">Đặt vé</a>
        <a href="hotel">Khách sạn</a>
        <a href="flight">Chuyến bay</a>
        <a href="trending">Nổi bật</a>
        <a href="news">Tin tức</a>
        <a href="package">Gói </a>
        <a href="services">Dịch vụ</a>
        <a href="gallery">Ảnh</a>
        <a href="review">Đánh Giá</a>
        <a href="contact">Liên hệ</a>
        <a href="plan-trip">Thanh Toán</a>
    </nav>
    <div class="icons">
        <a href=""><i class="fas fa-search" id="search-btn"></i></a>
        <a href="user"><i class="fas fa-user" id="login-btn"></i></a>
    </div>
</header>
<h1 class="heading">
    <span>c</span>
    <span>o</span>
    <span>n</span>
    <span>t</span>
    <span>a</span>
    <span>c</span>
    <span>t</span>
</h1>
<div class="contact">
    <form action="" class="form">
        <input type="text" placeholder="your name">
        <input type="text" placeholder="your email">
        <input type="tel" placeholder="your telephone">
        <input type="text" name=""  placeholder="your subject">
        <textarea name=""  placeholder="message"></textarea>
        <input type="submit" name=""  value="Submid">
    </form>
</div>
</body>
</html>