<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/review.css">
</head>
<body>
<header>
    <a href="#" class="logo"><span>Future</span>Wonders</a>
    <nav class="bar">
        <a href="home" class="indam">Trang chủ</a>
        <a href="booking">Đặt vé</a>
        <a href="hotel">Khách sạn</a>
        <a href="flight">Chuyến bay</a>
        <a href="trending">Nổi bật</a>
        <a href="news">Tin tức</a>
        <a href="package">Gói </a>
        <a href="services">Dịch vụ</a>
        <a href="gallery">Ảnh</a>
        <a href="review">Đánh Giá</a>
        <a href="contact">Liên hệ</a>
        <a href="plan-trip">Thanh Toán</a>
    </nav>
    <div class="icons">
        <a href=""><i class="fas fa-search" id="search-btn"></i></a>
        <a href="user"><i class="fas fa-user" id="login-btn"></i></a>
    </div>
</header>
<h1 class="heading">
    <span>r</span>
    <span>e</span>
    <span>v</span>
    <span>i</span>
    <span>e</span>
    <span>w</span>
</h1>
<div class="khoitin">
    <div class="tin">
        <img src="images/pic1.png" alt="">
        <h3>Sarah Johnson</h3>
        <p>Banff - A Visual Masterpiece! The Canadian Rockies are a true marvel. Every turn revealed a new postcard-worthy view. A must-visit for nature lovers!</p>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
        </div>
    </div>
    <div class="tin">
        <img src="images/sontung.jpg" alt="">
        <h3>Mr. Son Tung </h3>
        <p>a wonderful landscape. too great for a trip . I'm so happy to have come here
            Thank you future wonders for recommending it</p><br>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
    </div>
    <div class="tin">
        <img src="images/tuanhung.webp" alt="">
        <h3>Mr. Tuan Hung</h3>
        <p>Banff - A Visual Masterpiece! The Canadian Rockies are a true marvel. Every turn revealed a new postcard-worthy view. A must-visit for nature lovers!</p>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
    </div>
    <div class="tin">
        <img src="images/xuanbac.jfif" alt="">
        <h3>Mr. Xuan Bac</h3>
        <p>Banff - A Visual Masterpiece! The Canadian Rockies are a true marvel. Every turn revealed a new postcard-worthy view. A must-visit for nature lovers!</p>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
        </div>
    </div>
</div>
</body>
</html>